/*.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}
.card{
    
    position: relative;
    display: flex;          
    flex: 0 0 auto;         
    flex-direction: column;
   
    max-width: 15em;
   
}

.card--image{
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}



.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
}


.card--stats{
    display: flex;
    align-items: center;

}

.card--star{
    height: 14px;
}

.gray{
    color: #918E9B;
}

.bold{
    font-weight: bold;
}

.card--price {
   
    margin-top: 1rem;
}

.card--badge {
    position: absolute;
   
    top: 30px;
    left: 30px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
} 
*/


.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.25em;
    overflow-x: auto;
    padding: 1.25em 2.25em;
  }
  
  .card {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    max-width: 15em;
  
  }
  
  .card--badge {
    position: absolute;
    top: 0.375em;
    left: 0.375em;
    background-color: white;
    padding: 0.3125em 0.4375em;
    border-radius: 9px;
    font-weight: bold;
  }
  
  .card--image {
    border-radius: 9px;
    margin-bottom: 1.25em;
  }
  
  .card--stats {
    display: flex;
    align-items: center;
  }
  
  .card--title {
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card--star {
    display: inline-block;
    max-width: 1em;
  }
  .card--price {
    margin-top: auto;
  }
  