/* ---------------------- */
/* Fonts                  */
/* ---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


/* ---------------------- */
/* Custom properties      */
/* ---------------------- */

:root {
  --clr-text-light: #918e9b;
  --clr-accent: #ff385c;

  --ff-main: "Poppins", sans-serif;
}

/* ---------------------- */
/* Reset                  */
/* delete what it has and apply basic styles or style components or anything*/
/* ---------------------- */

*, *::before, *::after{
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

/* ---------------------- */
/* Typography             */
/* ---------------------- */


html {
  font-family: var(--ff-main);
}


.grey {
  color: var(--clr-text-light);
}
.bold {
  font-weight: bold;
}

